@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600,600italic);
/* line 1, ../sass/_base.sass */
html {
  min-height: 100%;
  position: relative;
}

/* line 5, ../sass/_base.sass */
body {
  font-family: "Source Sans Pro", sans-serif;
  background: #e9e9e9;
  margin-bottom: 50px;
}

/* line 16, ../sass/_base.sass */
h1, h2, h3 {
  color: #fff;
  text-align: center;
  font-family: "Slabo 27px", serif;
}

/* line 21, ../sass/_base.sass */
a {
  color: #198F97;
  transition: all 0.25s ease-in-out;
}

/* line 25, ../sass/_base.sass */
a:hover {
  color: #0a6065;
}

/* Container Styles ----------------------- */
/* line 3, ../sass/_ui-components.sass */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* line 9, ../sass/_ui-components.sass */
.form-group div {
  position: relative;
}

/* line 12, ../sass/_ui-components.sass */
.form-group label {
  display: block;
  font-weight: 600;
  font-size: 0.9rem;
  transition: all 0.25s ease-in-out;
}

/* line 18, ../sass/_ui-components.sass */
.form-group input {
  font-size: 1.1rem;
}

/* line 21, ../sass/_ui-components.sass */
.form-group input.text-input {
  padding: 10px;
  margin: 3px auto 20px auto;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  font-weight: 300;
  width: 93%;
  transition: all 0.25s ease-in-out;
}

/* line 30, ../sass/_ui-components.sass */
.form-group input.text-input:focus {
  border: 1px solid #198F97;
}

/* line 33, ../sass/_ui-components.sass */
.form-group .help-block {
  position: absolute;
  bottom: -20px;
  left: 0;
  background: #EF4F37;
  color: #fff;
  z-index: 100;
  padding: 5px;
  border-radius: 3px;
  max-width: 320px;
}

/* line 44, ../sass/_ui-components.sass */
.form-group .help-block:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #EF4F37;
  top: -7px;
  left: 7px;
  border-radius: 3px;
  z-index: 50;
}

/* line 57, ../sass/_ui-components.sass */
.form-group.has-error input.text-input {
  border: 1px solid #EF4F37;
}

/* line 60, ../sass/_ui-components.sass */
.form-group.has-success input.text-input {
  border: 1px solid #64ba05;
}

/* line 63, ../sass/_ui-components.sass */
.form-group.has-error label {
  color: #EF4F37;
}

/* line 66, ../sass/_ui-components.sass */
#tos-field {
  padding: 12px 0 20px 0;
}

/* line 69, ../sass/_ui-components.sass */
.form-group button {
  background: #64ba05;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
  transition: all 0.25s ease-in-out;
}

/* line 77, ../sass/_ui-components.sass */
.form-group button:hover {
  background: #5fad08;
}

/* line 1, ../sass/_header.sass */
header {
  background: #198F97;
  padding: 10px 0;
  margin-bottom: 30px;
  border-bottom: 2px solid #0a6065;
}

@media (min-width: 960px) {
  /* line 8, ../sass/_header.sass */
  header {
    padding: 30px 0;
    letter-spacing: 1px;
    margin-bottom: 50px;
  }
}
/* line 1, ../sass/_footer.sass */
footer {
  background: #465E64;
  color: #d4d4d4;
  text-align: center;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* line 1, ../sass/_containers.sass */
#content-wrapper {
  max-width: 740px;
  margin: 10px auto;
  padding: 20px;
}

/* line 6, ../sass/_containers.sass */
#signupForm {
  border: 1px solid #d4d4d4;
  border-bottom: 2px solid #d4d4d4;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 3px;
  background: #fff;
}

/* line 16, ../sass/_containers.sass */
.form-group {
  width: 100%;
}

/* line 19, ../sass/_containers.sass */
.form-group div {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 960px) {
  /* line 24, ../sass/_containers.sass */
  .form-group {
    width: 50%;
  }

  /* line 27, ../sass/_containers.sass */
  .tos-group {
    width: 100%;
  }
}
